@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #081b29;
    --secondary-color: #112e42;
    --text-color: #ededed;
    --text-main: #00abf0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    /* height: 1000px; */
}

.navbar{
    background-color: transparent;
    position: fixed;
    z-index: 999;
}

.navbar .container{
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 6vh;
}
.navbar .container .title{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 2rem;
}

.navbar .container .main-menu{
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

.navbar .container .main-menu a{
    color: var(--text-color);
    font-family: 'poppins';
    font-size: 1.7rem;
}

.navbar .container .main-menu a:hover,
.navbar .container .main-menu a.active{
    color: var(--text-main);
}

#toggle-menu{
    color: var(--text-color);
    font-size: 2.7rem;
    cursor: pointer;
}

